{% extends './password_reset_base.html' %}
{% load static %}

{% block content %}
<div class="d-flex h-100 align-items-center justify-content-center p-4 text-center">
  <div class="bg-light rounded p-4">
    <div class="logo">
      <img width="75px" height="75px" alt="openseed logo" src="{% static '/img/openseed-logo-4.png' %}" >
    </div>
    <div class="pt-2">
      <h2 class="d-flex flex-wrap justify-content-center page__title font-weight-bold"><i class="d-flex align-items-center bi bi-shield-check pr-2"></i>Nueva contraseña establecida</h2>
      <p class="">
        Tu nueva contraseña ha sido registrada. Ya puedes ir a la <a href="{% url 'users:login' %}"> página de ingreso</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}