{% extends './password_reset_base.html' %}
{% load static %}

{% block content %}
{% if validlink %}
<div class="d-flex h-100 align-items-center justify-content-center p-4 text-center">
  <div class="bg-light rounded p-4">
    <div class="logo">
      <img width="75px" height="75px" alt="openseed logo" src="{% static '/img/openseed-logo-4.png' %}" >
    </div>
    <div class="pt-2">
      <h2 class="d-flex flex-wrap justify-content-center page__title font-weight-bold"><i class="d-flex align-items-center bi bi-shield-lock pr-2"></i>Ingresa tu nueva contraseña</h2>
      <p class="">
        Confirma tu nueva clave a utilizar.
      </p>
    </div>
    <div class="pt-2">
      <div class="form-wrapper p-4 rounded">
          <form method="POST" id="password_reset_form">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
                  {% if field.label == 'New password' %}
                    <label>Nueva contraseña</label>
                  {% elif field.label == 'New password confirmation' %}
                    <label>Confirma tu nueva contraseña</label>
                  {% else %}
                    <label>{{ field.label }}</label>
                  {% endif %}
    
                  {{ field }}
                </div>
                {% for error in field.errors %}
                    <div class="alert alert-danger py-1">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
              {% endfor %}
              <div class="form-group text-left">
                <ul>
                  <li>
                    La contraseña no puede ser muy similar a tu otra información personal
                  </li>
                  <li>
                    La contraseña debe de tener al menos 8 caracteres
                  </li>
                  <li>
                    Tu contraseña no puede de ser una muy frecuentemente utilizda
                  </li>
                  <li>
                    Tu contraseña no puede ser solo numérica
                  </li>
                </ul>
              </div>
    
              <div class="form-group text-left">
                <ul>
                  {% for error in form.subject.errors %}
                    <li>
                      <strong>
                        {{ error|escape }}
                      </strong>
                    </li>
                  {% endfor %}
                </ul>
              </div>
    
              <button class="btn btn-primary rounded" type="submit">Cambiar contraseña</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<p>
  The password reset link was invalid, possibly because it has already been used.
  Please request a new password reset.
</p>
{% endif %}
{% endblock %}