{% extends './password_reset_base.html' %}
{% load static %}

{% block content %}

<div class="d-flex h-100 align-items-center justify-content-center p-4 text-center">
  <div class="bg-light rounded p-4">
    <div class="logo">
      <img width="75px" height="75px" alt="openseed logo" src="{% static '/img/openseed-logo-4.png' %}" >
    </div>
    <div class="pt-2">
      <h2 class="d-flex flex-wrap justify-content-center page__title font-weight-bold"><i class="d-flex align-items-center bi bi-inbox pr-2"></i>Revisa tu bandeja</h2>
      <p>
        Si la cuenta que ingresaste existe, deberías de recibir un correo en breve con las instrucciones.
        <br>
        <br>
        *Por favor, asegúrate de que has ingresado una dirección de correo
        válida y chequea tu bandeja de spam.
      </p>
    </div>
  </div>
</div>
{% endblock %}