<!-- Base for all html pages -->
<!doctype html>
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="description" content="openseed">
    <meta name="author" content="# TODO">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{% static '/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> <!-- replace for local file -->
</head>
<body class="bg-dark password-reset-page container align-items-center h-100">
    <!-- content -->
    <main class="h-100">
        {% block content %}
        {% endblock %}
    </main>
    <!-- Scripts -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
</body>
</html>