<!-- Base for all html pages -->
<!doctype html>
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="description" content="openseed">
    <meta name="author" content="# TODO">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{% static '/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> <!-- replace for local file -->

    <!-- Page specific style -->
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static '/css/editmodel.css' %}">
    <link rel="stylesheet" href="{% static '/css/listmodel.css' %}">
    <link rel="stylesheet" href="{% static '/css/forms.css' %}">
    <link rel="stylesheet" href="{% static '/css/reports.css' %}">

    <!-- Chart library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    {% block style %}
    {% endblock style %}
</head>
<body class="bg-dark">

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-2">
        <div class="container">
            <a class="navbar-brand" href="{% url 'gepian:dashboardindex' %}">
                <img src="{% static '/img/openseed-logo-4-circle.png' %}" width="30" height="30" class="d-inline-block align-top" alt="logoipsum" loading="lazy">
                <span></span>
            </a>
            <!-- Progress bar -->
            <div class="progress-animation-wrapper">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
            <!-- hamburger --> 
            <button class="navbar-toggler rounded shadow-sm" type="button" data-toggle="collapse" data-target="#nav-dropdown" aria-controls="nav-dropdown" aria-expanded="false" aria-label="Expandir/Contraer">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- nav elements -->
            <div class="collapse navbar-collapse pt-4 pt-lg-0" id="nav-dropdown">
                <ul class="navbar-nav flex-wrap flex-row ml-auto">
                    <li class="nav-item w-50 d-lg-none {% if request.resolver_match.view_name == 'gepian:dashboardindex' %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link " href="{% url 'gepian:dashboardindex' %}">Inicio</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/entrepreneurs' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:genericlistmodel' model='entrepreneurs' %}">Emprendedores</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/projects' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:genericlistmodel' model='projects' %}">Proyectos</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/stages' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:genericlistmodel' model='stages' %}">Etapas</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/interviews' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:genericlistmodel' model='interviews' %}">Entrevistas</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/postulations' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:genericlistmodel' model='postulations' %}">Postulaciones</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/financings' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:genericlistmodel' model='financings' %}">Financiamiento</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/activities' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:genericlistmodel' model='activities' %}">Actividades</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/inscriptions' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:genericlistmodel' model='inscriptions' %}">Inscripciones</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/broadcasts' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:genericlistmodel' model='broadcasts' %}">Difusiones</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/reports' in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:reportsindex' %}">Reportes</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none {% if '/administration' in request.path %}active{% else %}bg-dark{% endif %}">
                        <a class="nav-link" href="{% url 'gepian:administrationindex' %}">Administración</a>
                    </li>
                    <li class="nav-item w-50 d-lg-none">
                        <a class="nav-link" href=""></a>
                    </li>
                    <li class="nav-item d-lg-none pt-2 pr-4">
                        <!-- a class="nav-link" href="#">Cuenta</a-->
                        <a class="nav-link text-danger" href="{% url 'users:logout' %}">Cerrar Sesión</a>
                    </li>
                    <li class="nav-item dropdownm my-2 my-lg-0 d-none d-lg-block">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-links" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.email }}
                        </a>
                        <div class="dropdown-menu text-center" aria-labelledby="dropdown-links">
                            <!-- a class="dropdown-item" href="#">Cuenta</a-->
                            <a class="d-flex align-items-center text-danger dropdown-item" href="{% url 'users:logout' %}"><i class="bi bi-box-arrow-right"></i><span class="pt-1 pl-1">Cerrar Sesión</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logo d-none d-lg-block"> <!-- hides the gepian logo in screens with <=1200 pixels of resolution. P :) -->
            <img src="{% static '/img/logoipsum.png' %}" width="75" height="35" alt="logo gepian" loading="lazy">  
        </div>
    </nav>
    <!-- end navigation bar -->    
    <!-- sidebar -->
    <div class="d-flex" id="wrapper">
        <div class="bg-dark border-right" id="sidebar-wrapper">
          <div class="list-group list-group-flush">
            <!-- dashboard --> 
            <a href="{% url 'gepian:dashboardindex' %}" class="d-flex flex-row list-group-item list-group-item-action {% if request.resolver_match.view_name == 'gepian:dashboardindex' %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-house"></i><span class="pl-2"></span>Inicio</span>
            </a>
            <!-- emprendedores -->
            <a href="{% url 'gepian:genericlistmodel' model='entrepreneurs' %}" class="d-flex list-group-item list-group-item-action {% if '/entrepreneurs' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-person"></i><span class="pl-2">Emprendedores</span></a>
            <!-- proyectos -->
            <a href="{% url 'gepian:genericlistmodel' model='projects' %}" class="d-flex list-group-item list-group-item-action {% if '/projects' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-journal"></i><span class="pl-2">Proyectos</span>
            </a>
            <!-- etapas -->
            <a href="{% url 'gepian:genericlistmodel' model='stages' %}" class="d-flex list-group-item list-group-item-action {% if '/stages' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-bar-chart-line"></i><span class="pl-2">Etapas</span>
            </a>
            <!-- entrevistas -->
            <a href="{% url 'gepian:genericlistmodel' model='interviews' %}" class="d-flex list-group-item list-group-item-action {% if '/interviews' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-chat-dots"></i><span class="pl-2">Entrevistas</span>
            </a>
            <span class="border border-primary"></span>
            <!-- postulaciones  -->
            <a href="{% url 'gepian:genericlistmodel' model='postulations' %}" class="d-flex list-group-item list-group-item-action {% if '/postulations' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-clipboard"></i><span class="pl-2">Postulaciones</span>
            </a>
            <!-- finanzas -->
            <a href="{% url 'gepian:genericlistmodel' model='financings' %}" class="d-flex list-group-item list-group-item-action {% if '/financings' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-wallet"></i><span class="pl-2">Financiamiento</span>
            </a>
            <!-- actividades -->
            <a href="{% url 'gepian:genericlistmodel' model='activities' %}" class="d-flex list-group-item list-group-item-action {% if '/activities' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-calendar2-date"></i><span class="pl-2">Actividades</span>
            </a>
            <!-- inscripciones  -->
            <a href="{% url 'gepian:genericlistmodel' model='inscriptions' %}" class="d-flex list-group-item list-group-item-action {% if '/inscriptions' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-card-checklist"></i><span class="pl-2">Inscripciones</span>
            </a>
            <span class="border border-primary"></span>
            <!-- difusiones -->
            <a href="{% url 'gepian:genericlistmodel' model='broadcasts' %}" class="d-flex list-group-item list-group-item-action {% if '/broadcasts' in request.path and '/report' not in request.path %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-broadcast-pin"></i><span class="pl-2">Difusiones</span>
            </a>
            <!-- reportes -->
            <a href="{% url 'gepian:reportsindex' %}" class="d-flex list-group-item list-group-item-action {% if '/reports' in request.path %}active{% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-graph-up"></i><span class="pl-2">Reportes</span>
            </a>
            <!-- administracion -->
            <a href="{% url 'gepian:administrationindex' %}" class="d-flex list-group-item list-group-item-action 
                {% if '/administration' in request.path  or '/provinces' in request.path or '/cities' in request.path or '/technicians' in request.path or '/businessareas' in request.path or '/files' in request.path or '/users' in request.path  or '/sitesettings' in request.path %}
                    active
                {% else %}bg-dark{% endif %}">
                <i class="d-flex align-items-center bi bi-gear"></i><span class="pl-2">Administración</span>
            </a>
          </div>
        </div>
        <!-- end sidebar -->
    <!-- content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="content container">
                    <main>
                        {% block breadcrumbs %}
                        {% endblock %}
                        {% block content %}
                        {% endblock %}
                    </main>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <!-- script src="{% static '/js/jquery-3.5.1.slim.min.js' %}"></script -->
    <script src="{% static '/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static '/js/jquery-ui.min.js' %}"></script>
    <script src="{% static '/js/datepicker-es.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/scripts.js' %}"></script>
    <script src="{% static '/js/analytics.js' %}"></script>
    <script src="{% static '/js/filters.js' %}"></script>
    <script>
        // Tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>