{% load custom_filters %}

{% block content %}

{% if model_objects_filter_dict == None %}
{% else %}
    <div class="list-filters-wrapper pb-2 {% if active_filters.items|length == 0  %}pb-lg-4{% endif %}">
        {% for filter_handle, filter_dict in model_objects_filter_dict.items %}
            <div class="btn-group py-2">
                <button type="button" class="btn dropdown-toggle border shadow-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ filter_handle | get_filter_label }}
                </button>
                <div class="dropdown-menu">
                    {% for filter_option, filter_value in filter_dict.items %}
                        <div class="dropdown-item form-check">
                            <input 
                                type="checkbox" 
                                class="form-check-input" 
                                value="{{ filter_value }}" 
                                id="checkbox_{{ filter_option }}" 
                                data-paramname="{{ filter_handle | get_filter_param }}"
                                onchange="onFilterChange(this)"
                                >
                            <label class="form-check-label" for="checkbox_{{ filter_option }}">{{ filter_option }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% if active_filters.items|length > 0 %}
            <div class="btn-group py-2 remove-filter-wrapper">
                <button type="button" class="btn btn-outline-dark shadow-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="remove_filters">
                    limpiar filtros
                </button>
            </div>
        {% endif %}
    </div>
    {% if active_filters.items|length > 0 %}
        <div class="list-filters-active-wrapper mb-4">
            {% for active_filter, active_filter_value in active_filters.items %}
                {% for filter_option, filter_value in model_objects_filter_dict.items %}
                    {% if active_filter in filter_option %}
                        <button class="btn btn-outline-info shadow-sm rounded" data-paramname="{{ active_filter }}" onclick="onActiveFilterClick(this)" aria-label="">
                            <span>
                                {{ filter_option | get_filter_label }} {% comment %}: {{ active_filter_value }}{% endcomment %}
                            </span>
                            <span class="border-left ml-3 pl-2">
                                x
                            </span>
                        </button>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if extra_filter %}
                <!-- #TODO: Make data-paramname dynamic -->
                <button class="btn btn-outline-info shadow-sm rounded" data-paramname="{{ activity_inscriptions }}" onclick="onActiveFilterClick(this)" aria-label="">
                    <span>
                        {{ extra_filter }}
                    </span>
                    <span class="border-left ml-3 pl-2">
                        x
                    </span>
                </button>
            {% endif %}
        </div>
    {% endif %}
{% endif %}

{% endblock %}